/* LA Galaxy Color Palette */
$galaxy-blue: #0065A4;
$galaxy-darkblue: #00245D;
$galaxy-grey: #C4C7DC;
$galaxy-gold: #FFD200;
$galaxy-darkgold: #EEB111;
$galaxy-black: #231F20;

$dark-gray: #8C8B8C;
$light-gray: #B3B2B3;
$white: #fff;